extends base.pug

block content
    h4 upload your video
    form(method="POST")
        input(placeholder="Title", required, type="text", name="title")
        input(placeholder="Description", required, type="text", name="description")
        input(placeholder="Hashtag, seperated by comma", required, type="text", name="hashtags")
        input(type="submit", value="Upload Video")
